<section class="section header kontakt">
    <div class="container">
        <div class="columns">
            <div class="column is-full">
                <h1 class="title is-3">Erste Hilfe Kurse in Heidenheim</h1>
                <p class="subtitle is-5">Erstklassige Erste Hilfe Kurse</p>
                <a class="button is-danger is-rounded" href="#kurse">
                    Zu den Kursen
                </a>

            </div>
        </div>
    </div>
</section>


<section class="section" id="informationen">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h2 class="title is-4">Informationen</h2>
                <p class="subtitle">Das ist wichrig für uns</p>
                <br>
            </div>
        </div>
        <div class="columns has-text-centered">
            <div class="column">
                <img  class="info-image"src="https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p><strong>Erste Hilfe Kurs</strong></p>
                <p>Hier bekommen sie erstklassige Erste Hilfe Kurse für jeden. Zu Unschlagbaren Preisen etc. Hier bekommen sie erstklassige Erste Hilfe Kurse für jeden. Zu Unschlagbaren Preisen etc</p>    
            </div>
            <div class="column">
                <img class="info-image" src="https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p><strong>Erste Hilfe Kurs</strong></p>
                <p>Hier bekommen sie erstklassige Erste Hilfe Kurse für jeden. Zu Unschlagbaren Preisen etc. Hier bekommen sie erstklassige Erste Hilfe Kurse für jeden. Zu Unschlagbaren Preisen etc</p>    
    
            </div>
            <div class="column">
                <img class="info-image" src="https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p><strong>Erste Hilfe Kurs</strong></p>
               <p>Hier bekommen sie erstklassige Erste Hilfe Kurse für jeden. Zu Unschlagbaren Preisen etc. Hier bekommen sie erstklassige Erste Hilfe Kurse für jeden. Zu Unschlagbaren Preisen etc</p>    
    
            </div>
            <div class="column">
                <img class="info-image" src="https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p><strong>Erste Hilfe Kurs</strong></p>
               <p>Hier bekommen sie erstklassige Erste Hilfe Kurse für jeden. Zu Unschlagbaren Preisen etc. Hier bekommen sie erstklassige Erste Hilfe Kurse für jeden. Zu Unschlagbaren Preisen etc</p>    
    
            </div>
        </div>
    </div>
</section>

<section class="section" id="kurse">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
               <h2 class="title is-4">Unsere Kurse</h2>
               <p class="subtitle">Für jeden das Richtige</p>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="https://images.unsplash.com/photo-1580115465903-0e4a824a4e9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content info-leistungen">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4 has-text-centered">Erste Hilfe Kurs</p>
                        </div>
                        </div>

                        <div class="content">
                            <details>
                                <summary class="subtitle is-5 has-text-centered">Informationen</summary>
                                <p>More info about the details.</p>
                            </details>
                            <details>
                                <summary class="subtitle is-5 has-text-centered">Preise</summary>
                                <p>More info about the details.</p>
                            </details><details>
                                <summary class="subtitle is-5 has-text-centered">Some details</summary>
                                <p>More info about the details.</p>
                            </details>
                        <br>
                        <br>
                        <a class="button is-success " href="">Kurs buchen</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="https://images.unsplash.com/photo-1580115465903-0e4a824a4e9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content info-leistungen">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4 has-text-centered">Erste Hilfe Kurs</p>
                        </div>
                        </div>

                        <div class="content">
                           <section class="accordions">
                                <article class="accordion is-active is-light">
                                    <div class="accordion-header toggle">
                                    <p>Hello World</p>
                                    </div>
                                    <div class="accordion-body">
                                    <div class="accordion-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                                    </div>
                                    </div>
                                </article>
                                <article class="accordion is-light">
                                    <div class="accordion-header">
                                    <p>Hello World</p>
                                    <button class="toggle" aria-label="toggle"></button>
                                    </div>
                                    <div class="accordion-body">
                                    <div class="accordion-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                                    </div>
                                    </div>
                                </article>
                                <article class="accordion is-light">
                                    <div class="accordion-header">
                                    <p>Hello World</p>
                                    <button class="toggle" aria-label="toggle"></button>
                                    </div>
                                    <div class="accordion-body">
                                    <div class="accordion-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                                    </div>
                                    </div>
                                </article>
                                </section>
                            <br>
                        <a class="button is-success " href="">Kurs buchen</a>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img src="https://images.unsplash.com/photo-1580115465903-0e4a824a4e9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content info-leistungen">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4 has-text-centered">Erste Hilfe Kurs</p>
                        </div>
                        </div>

                        <div class="content">
                            <details>
                                <summary class="subtitle is-5">Informationen</summary>
                                <p>More info about the details.</p>
                            </details>
                            <details>
                                <summary class="subtitle is-5">Preise</summary>
                                <p>More info about the details.</p>
                            </details><details>
                                <summary class="subtitle is-5">Some details</summary>
                                <p>More info about the details.</p>
                            </details>
                        <br>
                        <br>
                        <a class="button is-success " href="">Kurs buchen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section has-background-light">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h2 class="title is-4">Kursfinder</h2>
                <p class="subtitle">Wir haben den passenden Kurs für Sie</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p>Hier kommen dann die Dropdowns für die AUswahl des Kursfinders </p>
            </div>
        </div>
    </div>
</section>


<section class="section" id="ueberuns">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h2 class="title is-4">Über uns</h2>
                <p class="subtitle">Lernen Sie uns kennen</p>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <p><strong>Das SInd wir</strong></p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>

            </div>
            <div class="column">
                <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
            </div>
        </div>
    </div>
</section>